@use "../../styles/functions" as fn;
@use "../../styles/mixins" as *;

.pu-accordion-item {
  position: relative;
  border-top: 1px solid fn.sys-var(color, outline-variant);

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: fn.sys-var(spacing, medium) fn.sys-var(spacing, medium);
    overflow: hidden;
    user-select: none;
    cursor: pointer;

    &.is-expanded {
      border-bottom: 1px solid fn.sys-var(color, outline-variant);
    }

    &.is-custom {
      display: block;
    }

    &-first {
      border-top: none;
    }
  }

  &__title {
    color: fn.sys-var(color, on-surface);
    font-weight: 500;
    font-size: 16px;
  }

  &__arrow {
    @include pu-icon("medium", true);
    color: fn.sys-var(color, on-surface-variant);
    transition: transform 0.3s;

    &.is-retract {
      transform: rotate(-180deg);
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    will-change: height;
  }

  &__body {
    color: fn.sys-var(color, on-surface);
  }

  &.is-disabled {
    .pu-accordion-item__title {
      color: fn.sys-var(color, on-surface);
      opacity: fn.sys-var(opacity, disabled);
    }

    .pu-accordion-item__arrow {
      color: fn.sys-var(color, on-surface-variant);
      opacity: fn.sys-var(opacity, disabled);
    }
  }
}
