.pu-full-screen-page-scaffold {
  display: flex;
  flex-direction: column;
  height: var(--pu-vh);
  min-height: var(--pu-vh);
}

.pu-full-screen-page-scaffold__header,
.pu-full-screen-page-scaffold__footer {
  flex: 0 0 auto;
  min-width: 0;
}

.pu-full-screen-page-scaffold__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

