TECHNITIUM_API_URL=http://192.168.3.156:5380
TECHNITIUM_API_TOKEN=replace-with-api-token
DEV_DNS_ZONE=partner-up.d.home.arpa
DEV_DNS_TARGET_IP=replace-with-local-lan-ip
DEV_DNS_TTL=60
DEV_DNS_RECORDS=design-web
