TECHNITIUM_API_URL=http://<technitium-host>:5380
TECHNITIUM_API_TOKEN=replace-with-api-token
DEV_DNS_ZONE=partner-up.d.home.arpa
DEV_DNS_TARGET_IP=replace-with-local-lan-ip
DEV_DNS_TTL=60
DEV_DNS_RECORDS=ui-web
PORTLESS_DOMAIN_BASE=partner-up.d.home
PORTLESS_TLD=arpa
